<app-buscador-dinamico [tipoBusqueda]="'hoteles'"></app-buscador-dinamico>

<ng-container *ngIf="hoteles$ | async as hoteles">
  <div class="hotel-container">

  <div class="results-info">
    <p>Mostrando {{ hoteles.length }} lugares</p>
  </div>

  <div class="results-list">
    <div *ngIf="hoteles.length === 0" class="no-results-message">
        <p>No se encontraron hoteles para su búsqueda.</p>
    </div>
    
    <div *ngFor="let hotel of hoteles" class="hotel-card">
        <div class="hotel-image">
             <img [src]="hotel.imagen_url " alt="Imagen de {{ hotel.nombre }}">
        </div>
        <div class="hotel-info">
            <h4 class="hotel-name">{{ hotel.nombre }}</h4>
            <p class="hotel-location"><i class="fa-solid fa-location-dot"></i> {{ hotel.pais }} - {{ hotel.ciudad }}</p>
            <div class="hotel-rating">
                <span>Calificación: {{ hotel.estrellas }} / 5 <span class="estrellas">{{ '⭐'.repeat(hotel.estrellas) }}</span></span>
            </div>
            <div class="hotel-price">
                <span>Precio por noche: {{ hotel.precio_por_noche | currency:'PEN':'symbol':'1.0-0' }}</span>
            </div>

            <button class="details-button" 
                [routerLink]="['/detallesHotel', hotel.id]"
                [queryParams]="{ 
                    checkIn: checkInDate, 
                    checkOut: checkOutDate,
                    adultos: adultos,
                    ninos: ninos,
                    habitaciones: habitaciones 
                }">
                Ver detalles
            </button>   

        </div>
    </div>
    </div>
   </div>
</ng-container>