<!-- Banner con imagen de fondo original -->
<app-banner 
  [title]="'Tu aventura comienza aquí'"
  [subtitle]="'Descubre tours que te inspiran'"
  [backgroundImage]="'/public/img/tour.png'"
  [overlayGradient]="'linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0))'">
</app-banner>

<!-- Buscador -->
<div class="search-bar-container">
    <app-buscador-dinamico [tipoBusqueda]="'tours'"></app-buscador-dinamico>
</div>

<!-- Tours por Categoría -->
<app-card-grid
  [title]="'Tours por Categoria'"
  [description]="'¿Listo para explorar? De la planificación a la aventura, nuestros tours son el primer paso.'"
  [items]="toursCategorias"
  [showButton]="false"
  [mode]="'tours'"
  [columns]="4"
  (cardClick)="navegarPorCategoria($event)">
</app-card-grid>
