<div class="banner">
  <div class="banner-text">
    <p>Descubre tours que te inspiran</p>
    <h1>Tu aventura comienza aquí</h1>
  </div>
</div>

<app-buscador-dinamico [tipoBusqueda]="'tours'"></app-buscador-dinamico>

<div class="ToursCategoria-section"> 
  <div class="TourCategoria-header">
    <h2>Tours por Categoria</h2>
    <p>¿Listo para explorar? De la planificación a la aventura, nuestros tours son el primer paso.</p>
  </div>

  <div class="tours-grid">
    <div class="tour-card aventura">
        <div class="tour-info">
            <h2>Aventura</h2>
            <p>Explora los Andes y vive una experiencia inigualable.</p>
        </div>
    </div>

    <div class="tour-card gastronomia">
        <div class="tour-info">
            <h2>Gastronomía</h2>
            <p>Descubre los secretos de la comida peruana.</p>
        </div>
    </div>

    <div class="tour-card cultura">
        <div class="tour-info">
            <h2>Cultura</h2>
            <p>Explora el centro histórico y sus secretos.</p>
        </div>
    </div>

    <div class="tour-card relajacion">
        <div class="tour-info">
            <h2>Relajación</h2>
            <p>Desconexión total en el paraíso.</p>
        </div>
    </div>
</div>
