<!-- PIE DE PÁGINA -->
<footer>
    <p>Proyecto UPCH - Diseño Web</p>
    <p>Integrantes:</p>
    <div class="redes">
        <p>Edwin Junior Jara Bocanegra<a href="mailto:edwin.jara@upch.pe" target="_blank"><i class="fa-solid fa-envelope"></i> edwin.jara&#64;upch.pe </a></p>
        <p>Antony Ivan Mendoza Villar<a href="mailto:antony.mendoza@upch.pe" target="_blank"><i class="fa-solid fa-envelope"></i> antony.mendoza&#64;upch.pe </a></p>
        <p>Marelly Massiel Colla Cervantes<a href="mailto:marelly.colla@upch.pe" target="_blank"><i class="fa-solid fa-envelope"></i> marelly.colla&#64;upch.pe </a></p>
        <p>Luis Felipe Canal Alvarado<a href="mailto:luis.canal@upch.pe" target="_blank"><i class="fa-solid fa-envelope"></i> luis.canal&#64;upch.pe </a></p>
        <p>Valery Krystal Siccha Huayanay<a href="mailto:valery.siccha@upch.pe" target="_blank"><i class="fa-solid fa-envelope"></i> valery.siccha&#64;upch.pe </a></p>
        <p>Victoria Beatriz Castro Pichihua<a href="mailto:victoria.castro@upch.pe" target="_blank"><i class="fa-solid fa-envelope"></i> victoria.castro&#64;upch.pe </a></p>
        <p>Ruben Andre Cabrera Cermeño<a href="mailto:ruben.cabrera@upch.pe" target="_blank"><i class="fa-solid fa-envelope"></i> ruben.cabrera&#64;upch.pe </a></p>
    </div>
</footer>